<div *ngIf="country" class="border border-gray-400 shadow-sm shadow-gray-400 flex flex-col sm:flex-row gap-3 justify-between px-5 py-3 my-4 rounded-md">
    <div>
        <h3 class="font-bold text-lg text-blue-500 country-name">{{ country.name.common }}</h3>
        <div class="flex gap-1">
            <span class="text-base font-semibold capital">{{ country.capital }},</span>
            <span class="text-base font-semibold text-gray-400 subregion">{{ country.subregion }}</span>
        </div>
    </div>
    <div class="my-2 text-left sm:text-center">
        <span class="text-xs text-gray-400 font-semibold">Population</span>
        <p class="text-lg text-black population">{{ country.population }}</p>
    </div>
</div>