<div class="flex items-center border-b border-gray-500 text-lg">
    <input #searchInput (keyup)="searchByName(searchInput.value)"
        class="w-full border-none px-1 leading-tight focus:outline-none" type="text" placeholder="Search Country..."
        letterOnly>
    <kbd *ngIf="OS == 'Mac'; else windows"
        class="whitespace-nowrap my-1 px-3 py-1 text-xs font-semibold text-gray-400 bg-gray-100 border border-b-2 border-gray-300 rounded-md invisible lg:visible">
        ⌘ K
    </kbd>
</div>

<ng-template #windows>
    <kbd *ngFor="let key of ['CTRL', 'K']"
        class="whitespace-nowrap mr-1 my-1 px-2 py-1 text-xs font-semibold text-gray-400 bg-gray-100 border border-b-2 border-gray-300 rounded-md invisible lg:visible">
        {{ key }}
    </kbd>
</ng-template>