<div class="content" role="main">
  <div class="w-full">
    <app-search-ui (filterEvent)="onFilter($event)"></app-search-ui>

    <div *ngIf="loading$ | async; else countries">
      <div class="flex justify-center items-center my-16">
        <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-500"></div>
      </div>
    </div>
  </div>

</div>

<ng-template #countries>
  <p class="mt-5 text-lg font-light text-gray-500 dark:text-gray-400 nodata" *ngIf="!(countries$ | async)?.length">No data found</p>

  <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="w-full my-5 h-screen overflow-scroll border-t border-b">
    <div *cdkVirtualFor="let data of countries$ | async">
      <app-country [country]="data"></app-country>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>